.brand-slider{
    position: relative;
    img{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        transition: opacity 0.7s ease-in-out, 0s z-index 0.7s;
        &.on{
            opacity: 1;
            z-index: 1;
        }
    }
}


@media (max-width: $desktop){
    .brand-slider{
        img{
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 400px;
            max-width: none;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
        }
    }
}

@media (max-width: $tablet){
    .brand-slider{
        img{
            width: 100%;
            min-height: 0;
            left: 0;
            transform: none;
        }
    }
}
