.breadcrumbs {
    font-family: $montserrat;
    font-size: 1.2rem;
    text-align: left;
    // NOTE:: changing breadcrumbs color to the darker one
    // color: $greyText;
    a {
        border: 0;
        font-family: $montserratBold;
        color: inherit;
        &:hover,
        &:focus {
            color: $primary;
        }
    }
}

@media (max-width: $phone) {
    .breadcrumbs {
        display: none;
    }
}
