.breadcrumbs{
    font-family: $montserrat;
    font-size: 1.2rem;
    text-align: left;
    color: $greyText;
    a{
        border: 0;
        font-family: $montserratBold;
        color: inherit;
        &:hover, &:focus{
            color: $primary;
        }
    }
}