/* Buttons */

.link, .link-doc, .link-prev, .link-next{
    display: inline-block;
    padding: 0 0 0 60px;
    position: relative;
    font-family: $montserratBold;
    font-size: 1.1rem;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    color: $text;
}

.link, .link-doc{
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
}

.link{
    &:before{
        width: 25px;
        height: 1px;
        background: $primary;
    }
}

.link-doc{
    &:before{
        width: 23px;
        height: 25px;
        top: 3px;
        background: url(../layoutImg/doc.svg) no-repeat;
    }
}

.link-next, .link-prev{
    > .icon{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        font-size: 1.8rem;
        color: $primary;
    }
}

.link-next{
    padding: 0 60px 0 0;
    > .icon{
        left: auto;
        right: 0;
    }
}


.btn, .btn-invert{
    display: inline-block;
    padding: 20px 60px;
    border: 1px solid transparent;
    font-family: $montserratBold;
    font-size: 1.1rem;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    text-decoration: none;
}

.btn{
    background: $grey;
    color: $white;
    &:hover, &:focus{
        color: $white;
        background: $primary;
    }
}

.btn-invert{
    border-color: $grey;
    background: $white;
    color: $text;
    &:hover, &:focus{
        color: $white;
        background: $text;
    }
}


.btn-close{
    width: 24px;
    height: 25px;
    position: relative;
    text-indent: -99em;
    overflow: hidden;
    &:before, &:after{
        content: '';
        width: 30px;
        height: 2px;
        position: absolute;
        top: 0;
        background: $text;
    }
    &:before{
        left: 0;
        transform-origin: 0 0;
        transform: rotate(45deg) translate3d(3px, 0, 0);
    }
    &:after{
        right: 0;
        transform-origin: 100% 0;
        transform: rotate(-45deg) translate3d(-3px, 0, 0);
    }
}
