/* Buttons */

.link, .link-doc, .link-prev, .link-next{
    display: inline-block;
    padding: 0 0 0 60px;
    border: 0;
    position: relative;
    font-family: $montserratBold;
    font-size: 1.1rem;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    text-decoration: underline;
    color: $grey;
    &:hover, &:focus{
        color: $text;
    }
    &:active{
        color: $grey;
    }
}

.link, .link-doc, .btn, .btn-invert{
    &:before, &:after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        transform: $transition;
    }
    &:before{
        left: 0;
    }
    &:after{
        right: 0;
    }
}

.link, .btn, .btn-invert{
    &:before, &:after{
        width: 25px;
        height: 1px;
        background: $secondary;
        transition: $transition;
        transform-origin: 0 0;
    }
    &:after{
        background: $primary;
        transform: scaleX(0);
    }
    &:hover, &:focus{
        &:before{
            background: $primary;
            transform: scaleX(1);
        }
    }
    &:active{
        &:before{
            opacity: 0;
        }
        &:after{
            transform: scaleX(1);
        }
    }
}

.link{
    padding-right: 60px;
}

.link-doc{
    &:before{
        width: 23px;
        height: 25px;
        top: 3px;
        background: url(../layoutImg/doc.svg) no-repeat;
        transition: $transition;
    }
    &:hover, &:focus{
        &:before{
            transform: translate3d(15px, 0, 0);
        }
    }
}

.link-next, .link-prev{
    > .icon{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        font-size: 1.8rem;
        color: $primary;
        transition: $transition;
    }
}
.link-prev{
    &:hover, &:focus{
        transform: translate3d(-10px, 0, 0);
        > .icon{
            transform: translate3d(5px, 0, 0);
        }
    }
    &:active{
        > .icon{
            transform: translate3d(-5px, 0, 0);
        }
    }
}
.link-next{
    padding: 0 60px 0 0;
    > .icon{
        left: auto;
        right: 0;
    }
    &:hover, &:focus{
        transform: translate3d(10px, 0, 0);
        > .icon{
            transform: translate3d(-5px, 0, 0);
        }
    }
    &:active{
        > .icon{
            transform: translate3d(5px, 0, 0);
        }
    }
}

.btn, .btn-invert, .btn-invert-block{
    display: inline-block;
    border: 1px solid transparent;
    position: relative;
    font-family: $montserratBold;
    font-size: 1.1rem;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    text-align: center;
}
.btn, .btn-invert{
    padding: 20px 60px;
    &:before{
        left: 10px;
        transform: scaleX(0);
    }
    &:after{
        right: 10px;
    }
}

.btn{
    background: $grey;
    color: $white;
    &:before, &:after{
        background: $secondary !important;
    }
    &:hover, &:focus{
        color: $white;
        background: #667B8E;
    }
    &:active{
        background: $grey;
        transition: none;
    }
}

.btn-invert, .btn-invert-block{
    border-color: $grey;
    background: $white;
    color: $grey;
    &:hover, &:focus{
        color: $text;
        border-color: $text;
    }
    &:active{
        border-color: $grey;
        color: $grey;
    }
}

.btn-invert-block{
    display: block;
    width: 100%;
    max-width: 300px;
    padding: 20px;
}


.btn-close{
    width: 24px;
    height: 25px;
    border: 0;
    position: relative;
    text-indent: -99em;
    overflow: hidden;
    &:before, &:after{
        content: '';
        width: 30px;
        height: 2px;
        position: absolute;
        top: 0;
        background: $text;
    }
    &:before{
        left: 0;
        transform-origin: 0 0;
        transform: rotate(45deg) translate3d(3px, 0, 0);
    }
    &:after{
        right: 0;
        transform-origin: 100% 0;
        transform: rotate(-45deg) translate3d(-3px, 0, 0);
    }
    &:hover, &:focus{
        transform: rotate(90deg);
    }
    &:active{
        color: $grey;
    }
}
