.gallery{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    > li{
        width: calc(33% - #{$gutter});
        height: 0;
        padding: 0 0 20.5%;
        position: relative;
        margin: 0 0 50px;
        &:before{
            content: none;
        }
    }
    a{
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }
    img{
        width: auto;
        height: auto;
        min-width: 100%;
        max-width: none;
        min-height: 100%;
        position: relative;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
    }
}

.featherlight{
    .featherlight-close-icon{
        top: 2px;
        right: 2px;
        font-family: $montserratBold;
    }
}
.featherlight-next, .featherlight-previous{
    &:hover{
        background: none;
        span{
            opacity: 1;
        }
    }
    span{
        display: block;
        width: 25px;
        font-size: 30px;
        text-shadow: none;
        opacity: 0;
        transition: $transition;
    }
}
.featherlight-next{
    span{
        right: 20px;
    }
}
.featherlight-previous{
    span{
        left: 20px;
    }
}


@media (max-width: $desktopSmall){
    .gallery{
        > li{
            width: calc(33% - #{$gutter/2});
            margin: 0 0 $gutter;
        }
    }
}

@media (max-width: $tablet){
    .gallery{
        > li{
            width: calc(50% - #{$gutter/2});
            padding: 0 0 30%;
        }
    }
}

@media (max-width: $phone){
    .gallery{
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        > li{
            width: 100%;
            padding: 0 0 65%;
        }
    }
}
