.gallery{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    > li{
        width: calc(33% - #{$gutter});
        height: 0;
        padding: 0 0 20.5%;
        position: relative;
        margin: 0 0 50px;
        &:before{
            content: none;
        }
    }
    a{
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }
    img{
        width: auto;
        height: auto;
        min-width: 100%;
        max-width: none;
        min-height: 100%;
        position: relative;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
    }
}

.featherlight{
    .featherlight-close-icon{
        top: 2px;
        right: 2px;
        font-family: $montserratBold;
        background: none;
        color: $white;
    }
    .featherlight-content{
        padding: 0;
        border: 0;
    }
}
.featherlight-next, .featherlight-previous{
    top: 0;
    opacity: 0;
    transition: $transition;
    &:hover{
        opacity: 1;
        span{
            transform: translate3d(0, 0, 0);
        }
    }
    span{
        display: block;
        width: 22px;
        height: 22px;
        margin-top: -20px;
        font-size: 30px;
        text-shadow: none;
        text-indent: -99em;
        transition: $transition;
    }
}
.featherlight-next{
    right: 0;
    background: linear-gradient(to right, transparent 0%, rgba($black, 0.3) 100%) !important;
    span{
        right: 20px;
        background: url(../layoutImg/right.svg) no-repeat 50% 50%;
        transform: translate3d(-10px, 0, 0);
    }
}
.featherlight-previous{
    left: 0;
    background: linear-gradient(to right, rgba($black, 0.3) 0%, transparent 100%) !important;
    span{
        left: 20px;
        background: url(../layoutImg/left.svg) no-repeat 50% 50%;
        transform: translate3d(10px, 0, 0);
    }
}


@media (max-width: $desktopSmall){
    .gallery{
        > li{
            width: calc(33% - #{$gutter/2});
            margin: 0 0 $gutter;
        }
    }
}

@media (max-width: $tablet){
    .gallery{
        > li{
            width: calc(50% - #{$gutter/2});
            padding: 0 0 30%;
        }
    }
}

@media (max-width: $phone){
    .gallery{
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        > li{
            width: 100%;
            padding: 0 0 65%;
        }
    }
}
