.grid-post-type{
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    -ms-grid-auto-rows: 1fr;
    overflow: hidden;
    background: #000;
    color: #fff;
}

.grid-post-type-title{
    padding: 45px;
    position: relative;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    text-align: center;
    > img{
        position: absolute;
        top: 50%;
        left: 0;
        margin: -50% 0 0;
        opacity: 0.4;
    }
    > h2, > p{
        position: relative;
        z-index: 1;
    }
    > h2{
        margin: 0;
        &:after{
            display: none;
        }
    }
}

.grid-post-type-cta{
    text-align: center;
    span{
        display: block;
    }
}

.grid-post-type-item{
    padding: 20px;
    position: relative;
    text-transform: uppercase;
    .content{
        position: relative;
        z-index: 1;
        //background: blue;
    }
    img{
        min-width: 100%;
        min-height: 100%;
        max-width: none;
        position: absolute;
        top: 0;
        left: 50%;
        margin: 0 0 0 -50%;
    }
    span{
        display: block;
    }
}
