.sidebar-menu{
    > li{
        &:before{
            content: none;
        }
        > a{
            text-transform: uppercase;
        }
        li{
            font-size: 1.2rem;
        }
    }
    li{
        &:before{
            background: $grey;
            opacity: 0.5;
        }
    }
    a{
        color: $grey;
        text-decoration: none;
    }
    .current_page_item{
        > a{
            color: $text;
        }
    }
}