.sidebar-menu{
    padding: 0 $gutter*2 0 0;
    font-family: $roboto;
    font-size: 1.4rem;
    > li{
        &:before{
            content: none;
        }
        > a{
            text-transform: uppercase;
        }
        li{
            font-family: $montserrat;
            font-size: 1.2rem;
        }
        ul{
            padding: 0 0 0 5px;
            margin: 5px 0;
        }
    }
    li{
        &:before{
            background: $greyText;
            opacity: 0.5;
        }
    }
    a{
        position: relative;
        text-decoration: none;
        color: $greyText;
        &:after{
            width: 20px;
            height: 1px;
            position: absolute;
            bottom: -3px;
            left: -10px;
            background: $secondary;
        }
        &:hover, &:focus{
            color: $text;
        }
    }
    .current_page_item{
        > a{
            color: $text;
            &:after{
                content: '';
            }
        }
    }
}