.sidebar {
    width: calc(25% - 15px);
    max-width: 250px;
    margin: 8em 0 0;
    z-index: 2;

    &.js-show-logo {
        .logo-reduced {
            opacity: 1;
        }
    }

    .logo-reduced {
        display: block;
        width: 24px;
        height: 34px;
        position: absolute;
        left: 0;
        top: -38px;
        background: url(../layoutImg/logo-reduced.svg) 50% 50% no-repeat;
        background-size: contain;
        transition: $transition;
        opacity: 0;
    }
}

.content-sidebar {
    display: inline-block;
    max-width: 250px;
    position: relative;
    min-height: 82px;
    z-index: 1;

    &:before,
    &:after {
        content: '';
        display: block;
        width: 226px;
        position: absolute;
        left: -$gutter;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        z-index: -1;
    }

    &:before {
        height: 147px;
        top: -90px;
        background-image: url(../layoutImg/top-bg-sidebar.svg);
    }

    &:after {
        height: 115px;
        bottom: -89px;
        margin: 0 0 0 -1px;
        background-image: url(../layoutImg/bottom-bg-sidebar.svg);
    }

    .bg-sidebar {
        display: block;
        width: 226px;
        position: absolute;
        top: 57px;
        bottom: 25px;
        left: -$gutter;
        background: rgba($white, 0.9);
        z-index: -1;
    }
}

.sidebar-menu {
    padding: 0 $gutter*2 0 0;
    margin: 0;
    font-family: $roboto;
    font-size: 1.4rem;

    >li {
        padding: 0;

        &::before {
            content: none;
        }

        &.current-menu-item {
            >a {
                &::after {
                    content: '';
                    width: 20px;
                    height: 1px;
                    position: absolute;
                    bottom: -3px;
                    left: -10px;
                    background: $secondary;
                }
            }
        }

        &.active {
            >a {
                color: $text;
            }
        }

        >a {
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        >.sub-menu {
            margin: 0 0 15px;
            padding: 0;

            >li {
                padding: 0;

                &::before {
                    content: none;
                }

                >a {
                    font-family: $montserrat;
                    font-size: 1.3rem;
                }

                >.sub-menu {
                    margin: 0;
                    padding: 0;

                    >li {
                        padding-left: 15px;

                        &::before {
                            top: 10px;
                            left: 3px;
                            background: $blueLink;
                            opacity: 0;
                        }

                        &.active {
                            &::before {
                                opacity: 1;
                            }

                            >a {
                                color: $blueLink;
                            }
                        }

                        >a {
                            font-family: $roboto;
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }

    a {
        position: relative;
        display: inline-block;
        border: 0;
        font-family: inherit;
        color: $text;
        &:hover, &:focus{
            color: $blue;
        }
    }
}

.sidebar-brands {
    width: calc(50% - #{$gutter/2});
    padding: 67px 0 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    background: linear-gradient(74.41deg, #101C26 24.56%, #2D3A45 100.64%);
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);

    >ul {
        margin: 0;
    }

    li {
        &:before {
            content: none;
        }
    }
}

.sidebar-menu-brands {
    width: 180px;
    padding: 110px 20px;
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 110px;
    margin: 117px 0 0;
    z-index: 2;
    overflow: hidden;
    font-family: $roboto;
    font-size: 1.4rem;
    line-height: 1.2;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        background: linear-gradient(135deg, #53606B 15%, rgba(83, 96, 107, 0) 54.85%);
    }

    ul {
        padding: 0;
    }

    li {
        margin: 0 0 10px;
        padding-left: 0;

        &.active {
            >a {
                opacity: 1;

                &:after {
                    content: '';
                }
            }
        }
    }

    a {
        border: 0;
        position: relative;
        font-family: inherit;
        text-transform: uppercase;
        color: $white;
        opacity: 0.6;

        &:after {
            width: 4px;
            height: 4px;
            position: absolute;
            top: 50%;
            left: -10px;
            margin-top: -2px;
            border-radius: 50%;
            background: $white;
        }

        &:hover,
        &:focus {
            opacity: 1;
        }
    }
}


@media (max-width: $desktopSmall) {
    .sidebar {
        display: none;
    }
}

@media (max-width: $tablet) {
    .sidebar-brands {
        width: 100%;
        padding-top: 97px;

        +.container {
            padding-top: 3em;
            position: relative;
            margin-top: 45vw;
            background: $white;
        }
    }

    .sidebar-menu-brands {
        display: none;
    }

    .content-half-right {
        width: 100%;
        float: none;
    }
}

@media (max-width: $phone) {
    .sidebar-brands {
        +.container {
            padding-top: 2em;
        }
    }
}