/******* GÉNÉRAL *******/

::-moz-selection {
    background: $text;
    color: $white;
    text-shadow: none;
}

::selection {
    background: $text;
    color: $white;
    text-shadow: none;
}

html {
    font-size: 62.5%;
    /* sets the base font to 10px for easier math */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;

    &.menu-open {
        overflow: hidden;
        height: 100%;

        body {
            overflow: hidden;
            height: 100%;
        }
    }
}

body {
    font: 1.6em/1.5 $montserratLight;
    color: $text;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $robotoLight;
    font-weight: 400;
    text-transform: uppercase;
}

h1,
h2 {
    padding: 0 0 10px;
    position: relative;

    &:after {
        content: "";
        width: 60px;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: $gutter * -1;
        background: $secondary;
    }
}

h1 {
    font-size: 4.8rem;
    margin: 1.7em 0 1.3em;
    line-height: 1;

    .page-template-default & {
        // NOTE: default page template titles font changes
        font-family: $playfairBold;
        font-weight: 500;
        text-transform: none;

        &::after {
            content: none;
        }
    }
}

h2 {
    font-size: 3.2rem;
    margin: 2.4em 0 1.6em;
    color: $grey;

    // NOTE: default page template h1 without lines
    &.aligncenter {
        text-align: center;

        &:after {
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    &.alignright {
        text-align: right;

        &:after {
            right: $gutter * -1;
            left: auto;
        }
    }
}

h3 {
    font-family: $roboto;
    font-size: 2.4rem;
    margin: 1em 0 1em;
    color: $grey;
}

h4 {
    font-size: 2.1rem;
    margin: 1.5em 0 0.7em;
}

h5 {
    font-size: 1.9rem;
    margin: 1.5em 0 0.7em;
}

h6 {
    font-size: 1.6rem;
    margin: 1.5em 0 0.7em;
}

p {
    margin: 1.5em 0;
}

b,
strong {
    font-family: $montserratSemiBold;
    font-weight: 400;
}

i,
em {
    font-family: $montserratLightIt;
}

blockquote,
.baseline {
    position: relative;
    font: 2rem/1.2 $playfairBold;

    &:before,
    &:after {
        content: "";
        width: 30px;
        height: 2px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $primary;
    }
}

blockquote {
    max-width: 670px;
    padding: 0 80px;
    margin: 2.5em auto;
    text-align: center;
    color: $grey;

    &:before {
        left: 15px;
    }

    &:after {
        right: 15px;
    }

    >p {
        margin: 0;

        &:before {
            content: "« ";
        }

        &:after {
            content: " »";
        }
    }
}

.baseline {
    padding: 0 120px;

    &:before {
        left: 50px;
    }

    &:after {
        right: 50px;
    }
}

ol,
ul {
    padding: 0;
    margin: 1.5em 0;
    list-style: none;
}

ul {
    ul {
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}

ol {
    counter-reset: ol-counter;

    >li {
        counter-increment: ol-counter;

        &:before {
            display: inline-block;
            margin: -2px 10px 0 0;
            content: counter(ol-counter) ".";
            font-family: $montserratBold;
            font-size: 0.8em;
            color: $primary;
        }
    }

    ol {
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}

ul {
    >li {
        position: relative;
        padding-left: 14px;

        &:before {
            content: "";
            width: 4px;
            height: 4px;
            position: absolute;
            top: 12px;
            left: 0;
            vertical-align: middle;
            border-radius: 100%;
            background: $primary;
        }
    }
}

dt,
dd {
    display: inline;
    margin: 0;
}

dt {
    &:after {
        content: ": ";
    }
}

dd {
    +dt {
        &:before {
            content: "\A";
            white-space: pre;
        }
    }

    +dd {
        &:before {
            content: ", ";
            margin: 0 0 0 -0.25em;
        }
    }
}

img {
    max-width: 100%;
    height: auto;

    &.alignnone {
        margin: 70px 0;
    }

    &.aligncenter {
        display: block;
        margin: 70px auto;
    }

    &.alignleft {
        float: left;
        margin: 0 $gutter * 2 70px 0;
    }

    &.alignright {
        float: right;
        margin: 0 0 70px $gutter * 2;
    }
}

code,
pre {
    display: block;
    padding: 10px 15px;
    margin: 1em 0;
    background: grey;
}

hr {
    width: $col * 6;
    min-width: 250px;
    height: 2px;
    border: 0;
    position: relative;
    clear: both;
    margin: 5em auto;
    background: #e4eaee;

    &:after {
        content: "";
        width: 85px;
        height: 45px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background: $white url(../layoutImg/logo-sep.svg) no-repeat 50% 50%;
    }
}

/******* LIENS / BOUTONS *******/

a {
    border-bottom: 1px solid;
    font-family: $montserrat;
    text-decoration: none;
    color: $blue;
    transition: $transition;

    &:focus,
    &:hover {
        color: #19456b;
    }

    &:focus {
        outline: 1px dotted #35424D;;
    }

    &:active {
        border-color: transparent;
    }
}

/******* CLASSES GENERALES  *******/

.hidden {
    display: none !important;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    position: absolute;
    margin: -1px;
    overflow: hidden;
}

.clearfix {
    @include clearfix;
}

.pos-relative,
.wrapper-sticky {
    position: relative;
}

.sticky {
    position: fixed !important;
}

.sticky-stuck {
    position: absolute !important;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.icon {
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
}

.intro {
    max-width: 240px;
    float: left;
    margin: 0 60px 40px 0;
    font-family: $playfairBold;
    color: $primary;

    +p {
        margin-left: 150px;
    }

    // NOTE: default page template .intro font changes
    strong,
    b {
        font-family: inherit;
    }
}

.highlighted {
    padding: 6em 0;
    position: relative;
    margin: 6em 0;
    z-index: 1;
    text-align: center;
    color: $white;

    &.no-img {
        &:before {
            background: $text url(../layoutImg/pattern.svg);
            opacity: 1;
        }

        &:after {
            content: "";
        }
    }

    &:before,
    &:after {
        width: 100vw;
        position: absolute;
        top: 0;
        left: 50%;
        bottom: 0;
        margin-left: -50vw;
        z-index: -1;

        .container-sidebar & {
            width: calc(100vw + 3px);
            left: calc(32% - 1px);
        }
    }

    &:before {
        content: "";
        background: #2D3A45;
        opacity: 0.7;
        .contrasted &{
            mix-blend-mode: multiply;
            opacity: 0.97;
        }
    }

    &:after {
        content: none;
        background: linear-gradient(45deg, rgba($text, 0) 20%, $text 55%);
    }

    .bg-img {
        position: absolute;
        top: 0;
        left: 50%;
        bottom: 0;
        width: 100vw;
        margin-left: -50vw;
        z-index: -2;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;

        .container-sidebar & {
            width: calc(100vw + 3px);
            left: calc(32% - 1px);
        }
    }

    .title {
        display: block;
        margin: 0 0 35px;
        font-family: $roboto;
        font-size: 2.4rem;
        text-transform: uppercase;
        color: $secondary;
    }

    strong {
        display: block;
        position: relative;
        font-family: $playfairBold;
        font-size: 4.2rem;
        line-height: 1.15;
    }
}

.push-wrapper {
    position: relative;
    margin: 10rem 0 0;
    z-index: 1;

    .push-banner {
        height: 145px;
        position: absolute;
        left: -100vw;
        bottom: 60%;
        right: -100vw;
        z-index: -1;
        background: $bg;
    }
}

.push-container {
    display: flex;
    max-width: 840px;
    margin: 0 auto;
    justify-content: center;
    text-align: right;

    a {
        display: block;
        width: calc(33% - #{$gutter});
        border: 0;
        margin: 0 0 0 $gutter * 2;
        color: $text;

        &:first-child {
            margin: 0;
        }

        &.isDeployed {
            .img-wrapper {
                &:after {
                    transform: translate3d(0, 0, 0) skewY(-17deg);
                }
            }

            .img {
                transform: translate3d(0, 0, 0) skewY(-17deg) rotate(0.001deg);

                .inner {

                    >img,
                    >.bg {
                        transform: translate3d(0, -5px, 0) skewY(17deg) rotate(0.001deg);

                        .ie11 & {
                            transform: translate3d(-50%, -55%, 0) skewY(17deg) rotate(0.001deg);
                        }
                    }
                }
            }
        }

        &:hover,
        &:focus {
            .img-wrapper {
                &:after {
                    transform: translate3d(0, -10px, 0) skewY(-17deg);
                }
            }

            .img {
                transform: translate3d(0, 10px, 0) skewY(-17deg) rotate(0.001deg);

                .inner {

                    >img,
                    >.bg {
                        transform: translate3d(0, -15px, 0) skewY(17deg) rotate(0.001deg);

                        .ie11 & {
                            transform: translate3d(-50%, -55%, 0) skewY(17deg) rotate(0.001deg);
                        }
                    }
                }
            }

            .link {
                &:before {
                    transform: scaleX(0);
                }

                &:after {
                    transform: scaleX(1);
                    transition: 0.15s 0.25s ease-in-out;
                }
            }
        }
    }

    strong {
        display: block;
        padding: 0 0 0 25px;
        position: relative;
        margin: 20px 0 50px;
        z-index: 1;
        font-family: $playfairBold;
        font-size: 2.4rem;
        letter-spacing: -0.015em;
        line-height: 1;
        color: $grey;
    }

    .link {
        padding: 0 40px;
        margin: 0 -40px 0 0;
        text-decoration: underline;
    }

    .img-wrapper {
        position: relative;

        &:after {
            content: "";
            //height: 52px;
            height: calc(100% + 30px);
            position: absolute;
            //bottom: -22px;
            bottom: -100%;
            left: -8px;
            right: -2px;
            border-top-left-radius: 30px;
            background: #fff;
            //transform: translate3d(0, -10px, 0) skewY(-17deg);

            //transform: translate3d(0, calc(-50% + 30px), 0) skewY(-17deg);
            transform: translate3d(0, calc(-17% + 30px), 0) skewY(-17deg);
            transition: $transition;

            .no-js & {
                transform: translate3d(0, 0, 0) skewY(-17deg);
            }
        }
    }

    .img {
        height: 0;
        padding: 0 0 94%;
        position: relative;
        overflow: hidden;
        border-top-left-radius: 30px;
        border: 1px solid transparent;
        //transform: translate3d(0, 10px, 0) skewY(-17deg) rotate(0.000001deg);
        transform: translate3d(0, 82%, 0) skewY(-17deg) rotate(0.000001deg);
        transition: $transition;

        .no-js & {
            transform: translate3d(0, 0, 0) skewY(-17deg) rotate(0.000001deg);
        }

        .inner {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            .ie11 & {
                display: block;

                >img,
                .bg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%, -55%, 0) skewY(17deg) rotate(0.000001deg);
                }
            }

            >img,
            .bg {
                flex-shrink: 0;
                width: auto;
                height: 130%;
                min-width: 100%;
                max-width: none;
                max-height: none;
                transform: translate3d(0, 0, 0) skewY(17deg) rotate(0.000001deg);
                transition: $transition;
            }

            >.bg {
                background: $text url(../layoutImg/pattern.svg);
            }
        }
    }
}

.cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    background: $white;
    text-align: left;
    transition: $transition;
    z-index: 1;

    &.off {
        transform: translate3d(0, 100%, 0);
    }

    .container {
        display: flex;
        align-items: center;
        width: 100%;

        a {
            color: $blue;
        }
    }

    p {
        max-width: 87.5%;
        flex-grow: 1;
        flex-shrink: 1;
        margin: 0;
        color: $text;
    }

    button {
        position: absolute;
        top: 50%;
        right: 60px;
        margin-top: -22px;

        flex-grow: 0;
        flex-shrink: 0;
        display: block;
        width: 50px;
        height: 44px;
        margin-left: 20px;
        padding: 10px;
        border: 0;

        &:hover,
        &:focus {
            opacity: 0.7;
        }

        .icon {
            display: block;
            width: 100%;
            height: 100%;
            fill: $text;
        }
    }
}

.small-txt {
    font-size: 1.2rem;

    h3 {
        font-size: 1.8rem;
    }

    ul {
        li {
            &:before {
                top: 8px;
            }
        }
    }
}

.page .has-thumbnail{
    padding-top: 0;
}
.post-thumbnail{
    padding: 50px;
    position: relative;
    margin: 0 0 35px;
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(45, 58, 69, 0.34) 43.65%, #2D3A45 100%);
        mix-blend-mode: multiply;
        .contrasted &{
            background: #2D3A45;
        }
    }
    h1{
        max-width: 840px;
        position: relative;
        z-index: 10;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
    }
}

// scroll reveal
.isAnimated,
.content-brand .baseline,
.exergue,
.intro,
blockquote,
.highlighted .title,
.highlighted strong,
.list-brands>li,
.push-wrapper,
.gallery>li,
.push-banner,
.home-news,
.grid-post-type-title .no-text {
    visibility: hidden;

    .no-js &,
    .no-sr & {
        visibility: visible;
    }
}

.video {
    height: 0;
    padding: 0 0 60%;
    position: relative;
    margin: 0 0 2.3em;
    font-family: $roboto;
    color: #fff;
    text-transform: uppercase;

    &:hover {
        >.overlay:after {
            opacity: 0.8;
        }

        .icon {
            transform: scale3d(1.1, 1.1, 1.1);
        }
    }

    >.overlay,
    >iframe,
    >.overlay:after {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    >.overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        opacity: 0;
        background-size: cover;
        background-position: 50% 0;

        &.on {
            opacity: 1;
        }

        &:after {
            content: "";
            background: rgba(0, 44, 77, 0.8);
            transition: $transition;
        }

        >div {
            padding: 9em 40px 0;
            position: relative;
            z-index: 1;
        }
    }

    .subtitle {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .name {
        font-family: $robotoBold;
        font-size: 2.2rem;
    }

    .icon {
        width: 36px;
        height: 36px;
        margin: 0 16px 0 0;
        transform: scale3d(1, 1, 1);
        transition: $transition;
    }

    h3 {
        margin: 0;
        overflow: hidden;

        &.no-text {
            text-indent: -99em;

            >img {
                display: block;
                float: left;
                text-indent: 0;
            }
        }
    }
}

.nav-next-prev {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .link-next {
        margin: 0 0 0 auto;
    }
}

.access-to-main{
    position: relative;
    margin: 0;
    //z-index: 20;
}


@media (max-width: $desktopLarge) {
    .cookies {
        button {
            position: relative;
            top: auto;
            right: auto;
            margin-top: 0;
        }

        p {
            max-width: 100%;
        }
    }
}

@media (max-width: $desktop) {
    .baseline {
        padding: 0 60px;

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }
    }
}

@media (max-width: $desktopSmall) {
    .push-wrapper {
        .push-banner {
            bottom: 68%;
        }
    }

    .highlighted {

        &:before,
        &:after {
            .container-sidebar & {
                width: 100vw;
                left: 50%;
            }
        }

        .bg-img {
            .container-sidebar & {
                width: 100vw;
                left: 50%;
            }
        }
    }
}

@media (max-width: $tablet) {
    body {
        font-size: 1.4em;
    }

    img {

        &.alignleft,
        &.alignright {
            float: none;
            margin: 70px 0;
        }
    }

    .push-wrapper {
        a {
            width: calc(50% - #{$gutter});

            &:last-child {
                display: none;
            }
        }
    }

    .video {
        >.overlay {
            >div {
                padding-top: 7em;
            }
        }
    }
}

@media (max-width: $phone) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.8rem;
    }

    h5 {
        font-size: 1.6rem;
    }

    h6 {
        font-size: 1.4rem;
    }

    blockquote {
        padding: 0 40px;
        font-size: 1.6rem;

        &:before,
        &:after {
            width: 20px;
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }
    }

    .intro {
        max-width: 100%;
        float: none;
        margin-right: 0;

        +p {
            margin-left: 0;
        }
    }

    .highlighted {
        .title {
            font-size: 1.8rem;
        }

        strong {
            font-size: 2.6rem;
        }
    }

    .push-wrapper {
        .push-banner {
            height: 94px;
        }

        a {
            width: 100%;
            max-width: 250px;

            &:nth-child(2) {
                display: none;
            }
        }

        .img-wrapper {
            max-width: 150px;
        }

        .img {

            >img,
            >.bg {
                max-height: 185px;
            }
        }

        strong {
            padding: 0 0 0 $gutter * 2;
            margin-top: 0;
            font-size: 1.8rem;
        }
    }

    .push-container {
        a {
            &.isDeployed {
                .img {
                    .inner {

                        >img,
                        >.bg {
                            .ie11 & {
                                transform: translate3d(-50%, -60%, 0) skewY(17deg) rotate(0.000001deg);
                            }
                        }
                    }
                }
            }

            &:hover,
            &:focus {
                .img {
                    .inner {

                        >img,
                        >.bg {
                            .ie11 & {
                                transform: translate3d(-50%, -60%, 0) skewY(17deg) rotate(0.000001deg);
                            }
                        }
                    }
                }
            }
        }

        .img {
            .inner {

                >img,
                .bg {
                    height: 126%;
                }

                .ie11 & {

                    >img,
                    .bg {
                        transform: translate3d(-50%, -60%, 0) skewY(17deg) rotate(0.000001deg);
                    }
                }
            }
        }
    }

    .video {
        >.overlay {
            >div {
                padding-top: 4em;
            }
        }

        .name {
            font-size: 1.6rem;
        }
    }
}

@media (max-width: $phoneSmall) {
    .video {
        >.overlay {
            >div {
                padding-top: 2em;
            }
        }

        .subtitle {
            line-height: 1.1;
        }
    }
}