.page-template-tpl-brands, .single-brand{
    .main{
        padding-bottom: 0;
    }
}

.content-brands{
    h2{
        margin: 0 0 20px;
        &:after{
            width: auto;
            right: 0;
            background: $grey;
            opacity: 0.4;
        }
    }
}

.list-brands{
    margin: 0 0 10em;
    &:hover{
        a{
            opacity: 0.5;
        }
    }
    > li{
        display: inline-block;
        width: 50%;
        &:before{
            content: none;
        }
    }
    .brand{
        padding: 0 0 35%;
    }
}

.brand{
    height: 0;
    padding: 0 0 22.5%;
    position: relative;
    a{
        display: flex;
        padding: $gutter;
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        &:hover, &:focus{
            opacity: 1;
            > .img{
                transform: translate3d(0, -10px, 0);
            }
            > h3{
                opacity: 1;
                transform: translate3d(0, -15px, 0);
                transition: 0.3s 0.2s ease-in-out;
            }
        }
    }
    .img{
        width: 100%;
        max-width: 70%;
        transition: $transition;
    }
    h3{
        width: 100%;
        position: absolute;
        left: -15px;
        bottom: 0;
        font-family: $montserrat;
        font-size: 1.1rem;
        letter-spacing: 0.22rem;
        text-align: center;
        text-decoration: underline;
        color: $text;
        opacity: 0;
        transition: $transition;
        &:before{
            content: '';
            display: inline-block;
            width: 20px;
            height: 1px;
            margin: 0 10px 0 0;
            vertical-align: middle;
            background: $secondary;
        }
    }
}

.content-brand{
    padding-bottom: 125px;
    position: relative;
    text-align: center;
    > h1{
        margin: 1.3em 0 0.7em;
        &:after{
            content: none;
        }
        img{
            width: 50%;
            height: auto;
        }
    }
    > .text{
        margin: 0 0 4.5em;
        text-align: left;
    }
    > .btn{
        margin: 0 0 6.5em;
    }
    .link-prev{
        float: left;
    }
    .link-next{
        float: right;
    }
    > .btn-close{
        position: absolute;
        top: 0;
        right: 0;
    }
}


@media (max-width: $tablet){
    .list-brands{
        > li{
            width: 33.333%;
        }
    }
}

@media (max-width: $phone){
    .list-brands{
        margin: 0 $gutter*-1;
        > li{
            width: 50%;
        }
        .brand{
            padding: 0 0 40%;
        }
    }
}
