.grid-brands, .grid-contact{
    .col-3{
        margin: 0 0 5em;
    }
    .btn-invert-block{
        margin: 3.7em 0 0;
    }
    .img{
        height: 0;
        padding: 0 0 70%;
        position: relative;
    }
    img{
        width: auto;
        height: auto;
        max-width: 60%;
        max-height: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
}
.grid-contact{
    .img{
        overflow: hidden;
        background: #b0d2f0 url(../layoutImg/logo-small.svg) no-repeat 50% 50% / 40px;
    }
    img{
        min-width: 100%;
        min-height: 100%;
        max-width: none;
    }
    h2{
        margin: 1.2em 0 0;
        color: $text;
    }
}

.grid-brands{
    h3{
        margin-top: 0;
    }
}

.contact-address{
    h2{
        margin: 0;
    }
    .address, .tel{
        display: inline-block;
        vertical-align: top;
    }
    .address{
        width: 33.3333%;
        margin: 0 20px 0 0;
    }
    .icon{
        width: 33px;
        height: 33px;
        padding: 5px;
        border: 2px solid $secondary;
        margin: 0 15px 0 0;
        border-radius: 50%;
        color: $grey;
    }
}


@media (max-width: $tablet){
    .grid-contact{
        display: block;
        max-width: $col*5;
        margin: 0 auto;
        .col-3{
            width: 100%;
        }
    }

    .grid-brands{
        .col-3{
            width: calc(50% - #{$gutter});
        }
    }

    .contact-address{
        .address{
            width: 50%;
            margin: 0;
        }
    }
}

@media (max-width: $phone){
    .grid-contact{
        max-width: 100%;
    }

    .grid-brands{
        display: block;
        text-align: center;
        .col-3{
            width: 100%;
        }
        .btn-invert-block{
            margin: 3.7em auto 0;
        }
    }

    .contact-address{
        .address{
            width: 100%;
        }
    }
}
