/* Home specific style */

.home-news{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 12em;
    .push-container{
        width: 50%;
        padding: 0 $gutter 0 0;
        a{
            width: calc(50% - #{$gutter});
        }
        .img{
            padding: 0 0 114%;
        }
        time{
            display: block;
            margin: -50px 0 25px;
            font-family: $roboto;
            font-size: 1.4rem;
            letter-spacing: -0.02em;
            color: $greyText;
        }
        h3{
            margin: 0;
            font-family: $playfairBold;
            font-size: 2.4rem;
            letter-spacing: -0.015em;
            line-height: 1;
            text-transform: none;
        }
    }
    .text{
        width: calc(#{$col*3} - #{$gutter});
    }
}

.home-talent{
    display: flex;
    justify-content: space-between;
    margin: 0 0 8em;
    img{
        display: block;
        width: calc(50% - #{$gutter});
    }
    .text{
        width: calc(#{$col*3} - #{$gutter});
    }
    h2{
        margin-top: -10px;
    }
    + hr{
        width: 100%;
        margin: 0 0 8em;
    }
}

.home-brands{
    display: flex;
    justify-content: space-between;
    .text{
        width: calc(#{$col*3} - #{$gutter});
        flex-shrink: 0;
    }
    h2{
        margin-top: -10px;
    }
}

.home-carousel{
    margin: -$gutter 0 0 $gutter*2;
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
    }
    li{
        display: flex;
        width: calc(33.333% - #{$gutter/2});
        padding: $gutter;
        align-items: center;
        justify-content: center;
        &:before{
            content: none;
        }
    }
    img{
        max-width: 80%;
    }
}


@media (max-width: $desktop){
    .home-news{
        .push-container{
            width: $col*6;
            padding: 0;
            margin: 0 auto 50px;
        }
        .text{
            width: $col*6;
            margin: 0 auto;
        }
    }

    .home-talent{
        .text{
            width: calc(#{$col*4} - #{$gutter});
        }
    }
}

@media (max-width: $desktopSmall){
    .home-talent{
        display: block;
        img{
            width: $col*6;
            margin: 0 auto 50px;
        }
        .text{
            width: $col*6;
            margin: 0 auto;
        }
    }

    .home-brands{
        flex-wrap: wrap;
        .text{
            width: $col*6;
            margin: 0 auto 50px;
        }
    }
    .home-carousel{
        width: $col*6;
        margin: 0 auto;
    }
}

@media (max-width: $tablet){
    .home-news{
        .push-container, .text{
            width: 100%;
        }
    }

    .home-talent{
        img, .text{
            width: 100%;
        }
    }

    .home-brands{
        .text{
            width: 100%;
        }
    }
    .home-carousel{
        width: 100%;
    }
}

@media (max-width: $phone){
    .home-news{
        .push-container{
            max-width: 300px;
            a{
                width: 100%;
                &:nth-child(2){
                    display: none;
                }
            }
            .img{
                padding: 0 0 90%;
            }
            h3{
                padding: 0 0 0 $gutter*2;
                font-size: 1.8rem;
            }
        }
    }

    .home-carousel{
        li{
            width: 50%;
            &:last-child{
                display: none;
            }
        }
    }
}
