// Variables //

// Colors
$white: #fff;
$black: #000;

$primary: #b1780d;
$secondary: #f7cf84;
// NOTE: default text color change
$text: #35424d;
$grey: #54616c;
$greyText: #888f95;
$bg: #f1f8ff;

$orange: #e7a138;
$blue: #548cbc;
$blueLink: #2b8cdf;
$corail: #ed8372;
$lightBlue: #b1d2ef;

$darkGrey: #2d3a45;

// Transitions
$transition: 0.2s ease-in-out;

// Fonts
$montserrat: "Montserrat", sans-serif;
$montserratLight: "Montserrat Light", sans-serif;
$montserratLightIt: "Montserrat Light Italic", sans-serif;
$montserratBold: "Montserrat Bold", sans-serif;
$montserratSemiBold: "Montserrat SemiBold", sans-serif;

$roboto: "RobotoCondensed", sans-serif;
$robotoBold: "RobotoCondensed Bold", sans-serif;
$robotoLight: "RobotoCondensed Light", sans-serif;

$playfairBold: "PlayfairDisplay Bold", sans-serif;

// Mediaqueries
$retina: "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)";

$desktopLarge: "1400px";
$desktop: "1100px";
$desktopSmall: "960px";
$tablet: "780px";
$phone: "580px";
$phoneSmall: "400px";

// Grid
$col: 100/8 * 1%;
$gutter: 30px;
$line-height: 20px;
