.eolia_results_category_title{
    a{
        border: 0;
        font-family: inherit;
        color: inherit;
    }
}

.eolia_results_category_table{
    table-layout: auto;
    a{
        border: 0;
        font-family: $montserratLight;
    }
    tbody{
        tr{
            transition: $transition;
            &:nth-of-type(odd){
                background: #f5f7fa;
            }
            &:hover{
                background: rgba($blue, 0.4);
            }
        }
    }
    thead{
        th{
            font-family: $montserratSemiBold;
            font-size: 1.3rem;
            text-align: left;
            border-color: $text;
        }
    }
    th{
        padding: 2px 20px;
    }
    td{
        padding: 24px 20px;
        border: 0;
        &:first-child{
            width: 50% !important;
            font-size: 1.6rem;
        }
    }
    tr{
        font-size: 1.4rem;
    }
}
