/* Footer */

.footer{
    padding: 120px 0 50px;
    position: relative;
    z-index: 2;
    font-size: 1.4rem;
    text-align: center;
    background: $text url(../layoutImg/logo-small.svg) no-repeat 50% 50px / 30px;
    color: $white;
    .contrasted &{
        background-color: #2D3A45;
    }
    a{
        font-family: inherit;
        color: $white;
        &:hover, &:focus{
            color: $secondary;
        }
    }
    .menu-main{
        display: flex;
        flex-wrap: wrap;
        margin: 5.5em 0 0;
        text-align: left;
        a{
            border: 0;
            &:hover, &:focus{
                border-bottom: 1px solid;
            }
        }
        .sub-menu{
            display: block;
            padding: 0;
            position: static;
            margin: 0;
            z-index: 0;
            text-align: left;
            opacity: 1;
            transform: none;
            a, li{
                padding: 0;
            }
            li{
                &:before{
                    content: none;
                }
            }
        }
        > li{
            width: 21%;
            padding: 0;
            margin: 0 0 30px;
            &:nth-child(1){
                width: 48%;
                > .sub-menu{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    > li{
                        width: 50%;
                    }
                }
            }
            &.current-menu-item, &.current_page_parent{
                > a{
                    text-decoration: none;
                }
            }
            > a{
                display: block;
                padding: 0 0 15px;
                border-bottom: 1px solid rgba(#B1D2EF, 0.2);
                margin: 0 0 30px;
                font-family: $playfairBold;
                font-size: 3.4rem;
                color: $lightBlue;
                text-transform: none;
            }
            > .sub-menu{
                > li{
                    margin: 0 0 40px;
                    > a{
                        margin: 0 0 15px;
                        font-family: $roboto;
                        font-size: 1.8rem;
                        text-transform: uppercase;
                        color: $lightBlue;
                    }
                    li{
                        margin: 0 0 5px;
                    }
                }
            }
        }
    }
}


@media (max-width: $desktop){
    .footer{
        .menu-main{
            > li{
                width: 48%;
            }
        }
    }
}

@media (max-width: $tablet){
    .footer{
        .menu-main{
            > li:nth-child(1){
                .sub-menu{
                    display: block;
                    > li{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: $phone){
    .footer{
        .menu-main{
            > li, > li:nth-child(1){
                width: 100%;
            }
        }
    }
}
