/* Footer */

.footer{
    padding: 120px 0 50px;
    position: relative;
    font-size: 1.4rem;
    text-align: center;
    background: $text url(../layoutImg/logo-small.svg) no-repeat 50% 50px / 30px;
    color: $white;
    a{
        color: $white;
        &:hover, &:focus{
            color: $primary;
        }
    }
}

.menu-footer{
    margin: 50px 0 0;
    font-family: $montserratBold;
    font-size: 1.1rem;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    > li{
        display: inline-block;
        &:before{
            width: 30px;
            height: 1px;
            margin: -2px 35px 0 75px;
        }
        &:first-child{
            &:before{
                margin-left: 0;
            }
        }
    }
}


@media (max-width: $desktopSmall){
    .menu-footer{
        li{
            display: block;
            margin: 0 0 10px;
            &:before{
                width: 20px;
                margin: -2px 20px 0 0;
            }
        }
    }
}
