/* Forms */

::-webkit-input-placeholder{
}
::-moz-placeholder{
}
:-ms-input-placeholder{
}

fieldset{

}

input, textarea, select, button{
  	transition: $transition;
  	&:focus{
      	outline: 0;
  	}
}

input, textarea{
    width: 42%;
    padding: 10px 15px 12px;
    border: 1px solid rgba($grey, 0.5);
    border-radius: 5px;
  	&:-webkit-autofill{
      	box-shadow: 0 0 0 1000px #fff inset;
  	}
    &:invalid{
        // FF red borders
        box-shadow: none;
    }
    &:focus{
        border-color: $text;
    }
}

input{
    // hide the symbols of input search
    &[type=search]{
        &::-webkit-search-cancel-button, &::-webkit-search-decoration{
            display: none;
        }
    }
}

select{
    // hide the arrow on edge + ie
    &::-ms-expand{
        display: none;
    }
}

label, .eolia_field_label{
    display: block;
    width: 24.5%;
    min-width: 24.5%;
    margin: 0 $gutter 0 0;
    text-align: right;
}
.eolia_field_label{
    padding: 0;
}
.eolia_form-group .eolia_field_label, .eolia_search-group .eolia_field_label{
    margin: 0 $gutter 0 0;
}

.eolia_form-group{
    display: flex;
    align-items: center;
}

.eolia_input--button{
    margin: 0 0 0 calc(24.5% + #{$gutter});
}

.eolia_input--keywords{
    width: 64.5%;
}

.select2-selection{
    width: 100% !important;
    padding: 6px 15px;
    ul{
        padding: 0;
        > li{
            &:before{
                content: none;
            }
        }
    }
}
.eolia_form .select2-container .select2-selection, .eolia_search .select2-container .select2-selection{
    padding: 6px 15px;
    height: auto;
}
.select2-results{
    ul{
        > li{
            &:before{
                content: none;
            }
        }
    }
}
.select2-container{
    min-width: 33.5%;
    max-width: 50%;
    .select2-selection--single{
        height: auto !important;
        padding: 10px 15px 12px;
        .select2-selection__rendered{
            padding-left: 0 !important;
        }
    }
}
.select2-container--default{
    .select2-selection--single .select2-selection__arrow{
        height: 21px !important;
        bottom: 1px;
        margin: auto;
        background: url(../layoutImg/down.svg) no-repeat;
    }
    b{
        display: none;
    }
    .select2-selection--multiple .select2-selection__rendered{
        padding-left: 0 !important;
    }
}

.eolia_form .eolia_input, .eolia_search .eolia_input{
    width: 42%;
    height: auto;
    padding: 10px 15px 12px;
    border: 1px solid rgba($grey, 0.5);
    border-radius: 5px;
    color: $text;
    background: none;
}

.select2-selection__clear{
    width: 14px;
    height: 14px;
    margin: 8px 0 0;
    text-indent: -99em;
    background: url(../layoutImg/close.svg) no-repeat;
    background-size: 100% 100%;
}
