/* Forms */

::-webkit-input-placeholder{
}
::-moz-placeholder{
}
:-ms-input-placeholder{
}

fieldset{

}

input, textarea, select, button{
  	transition: $transition;
  	&:focus{
      	outline: 0;
  	}
}

input, textarea{
    width: 42%;
    padding: 10px 15px 12px;
    border: 1px solid rgba($grey, 0.5);
    border-radius: 5px;
  	&:-webkit-autofill{
      	box-shadow: 0 0 0 1000px #fff inset;
  	}
    &:invalid{
        // FF red borders
        box-shadow: none;
    }
    &:focus{
        border-color: $text;
    }
}

input{
    // hide the symbols of input search
    &[type=search]{
        &::-webkit-search-cancel-button, &::-webkit-search-decoration{
            display: none;
        }
    }
}

select{
    // hide the arrow on edge + ie
    &::-ms-expand{
        display: none;
    }
}

label{
    display: block;
    width: 24.5%;
    margin: 0 $gutter 0 0;
    text-align: right;
}

.eolia_form-group{
    display: flex;
    align-items: center;
}

.eolia_input--button{
    margin: 0 0 0 calc(24.5% + #{$gutter});
}

.eolia_input--keywords{
    width: 64.5%;
}

.select2-selection{
    padding: 5px 15px 7px;
    ul{
        padding: 0;
        > li{
            &:before{
                content: none;
            }
        }
    }
}
.select2-results{
    ul{
        > li{
            &:before{
                content: none;
            }
        }
    }
}
.select2-container .select2-selection--single{
    height: auto !important;
    padding: 10px 15px 12px;
}

.eolia_form .eolia_input, .eolia_search .eolia_input{
    width: 42%;
    height: auto;
    padding: 10px 15px 12px;
    border: 1px solid rgba($grey, 0.5);
    border-radius: 5px;
    color: $text;
    background: none;
}
