/* Forms */

::-webkit-input-placeholder{
}
::-moz-placeholder{
}
:-ms-input-placeholder{
}

fieldset{

}

input, textarea, select, button{
  	transition: $transition;
  	&:focus{
      	outline: 0;
  	}
}

input, textarea{
    width: 42%;
    padding: 10px 15px 12px;
    border: 1px solid rgba($grey, 0.5);
    border-radius: 5px;
  	&:-webkit-autofill{
      	box-shadow: 0 0 0 1000px #fff inset;
  	}
    &:invalid{
        // FF red borders
        box-shadow: none;
    }
}

input{
    // hide the symbols of input search
    &[type=search]{
        &::-webkit-search-cancel-button, &::-webkit-search-decoration{
            display: none;
        }
    }
}

select{
    // hide the arrow on edge + ie
    &::-ms-expand{
        display: none;
    }
}

label{
    display: inline-block;
    width: 28%;
    margin: 0 $gutter 0 0;
    text-align: right;
}

.eolia_form-group{
    display: flex;
}

.eolia_input--button{
    margin: 0 0 0 calc(28% + #{$gutter});
}

.eolia_form .eolia_input, .eolia_search .eolia_input{
    width: 42%;
    height: auto;
    padding: 10px 15px 12px;
    border: 1px solid rgba($grey, 0.5);
    border-radius: 5px;
    color: $text;
    background: none;
}
