/* Grid */

.main{
    padding: 150px 0 125px;
    overflow: hidden;
}

.container{
    max-width: 1200px;
    padding: 0 $gutter;
    margin: 0 auto;
}

.container-sidebar{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .content{
        width: calc(#{$col*6} - #{$gutter/2});
    }
}

.content-half-right{
    width: calc(50% - #{$gutter});
    float: right;
}

.grid{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

// [class*='col-']{
//     display: inline-block;
//     padding: 0 $gutter/2;
//     vertical-align: top;
// }
.col-2{
    width: calc(50% - #{$gutter});
}


@media (max-width: $tablet){
    .col-2{
        width: 100%;
    }
}

@media (max-width: $desktopSmall){
    .container-sidebar{
        .content{
            width: 100%;
        }
    }
}
