/* Header */
$header-height: 97px;

.header {
    height: $header-height;
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    .logo-img{
        display: none;
    }
    &.on, &.scrolled, &.submenu-open{
        background: #fff;
        .logo-img{
            display: block;
        }
        .logo-img-white{
            display: none;
        }
        .burger{
            color: $text;
        }
        .contrast{
            background: none;
            color: $text;
        }
    }
    &.scrolled{
        border-bottom: 1px solid #dadada;
    }
    > .container {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0;
        position: relative;
        justify-content: space-between;
        align-items: center;
        transition: transform $transition;
    }
    .contrast{
        width: 130px;
        padding: 2px 8px 5px;
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 20;
        font-family: $montserrat;
        font-size: 1.2rem;
        text-align: center;
        background: #35424D;
        color: #fff;
        text-decoration: underline;
        transition: none;
        .menu-open &{
            visibility: hidden;
        }
    }
    .text{
        display: none;
        margin-top: 0;
        font-family: $playfairBold;
    }
    .menu-img-link{
        display: none;
        max-width: 235px;
        padding: 15px 25px;
        position: relative;
        z-index: 1;
        background-size: cover;
        background-position: 50% 50%;
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            background: #35424D;
            opacity: 0.8;
        }
        h2{
            padding: 0;
            margin: 0;
            &:after{
                content: none;
            }
        }
        img{
            display: block;
            margin: 0 auto 25px;
        }
        div{
            padding: 0 0 0 40px;
            position: relative;
            margin: 0 5px 20px;
        }
        a{
            font-family: $montserratBold;
            text-transform: uppercase;
            font-size: 1.1rem;
            letter-spacing: 0.2em;
            color: #fff;
            &:hover, &:focus{
                opacity: 0.7
            }
        }
        .icon{
            position: absolute;
            top: 6px;
            left: 0;
            font-size: 2rem;
        }
        .icon-video{
            font-size: 1.8rem;
            left: 5px;
        }
    }
}

.logo {
    width: 100%;
    max-width: 240px;
    padding: 0;
    border: 0;
    margin: 0 40px 0 0;
    &:hover,
    &:focus {
        opacity: 0.7;
    }
    > div {
        height: 0;
        padding: 0 0 16.5%;
        position: relative;
    }
    img {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.main-navigation {
    &.on {
        .main-menus {
            transform: translate3d(-100%, 0, 0);
        }
    }
}

.burger {
    display: flex;
    align-items: center;
    border: 0;
    color: $white;
    z-index: 10;
    > span {
        margin-right: 5px;
        font-family: $roboto;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    .icon {
        width: 21px;
        height: 14px;
    }
}

.main-menus {
    position: fixed;
    top: 0;
    left: 100%;
    right: -100%;
    bottom: 0;
    padding-left: $gutter;
    // HACK: Simulate navigation activation
    // transform: translate3d(-100%, 0, 0);
    z-index: 11;
}

.main-menus-wrapper {
    height: 100%;
    background: linear-gradient(88.07deg, #101c26 24.56%, $darkGrey 100.64%);
    overflow-y: auto;
}

.nav-cross{
    display: none;
    align-items: center;
    border: 0;
    font-size: 1.4rem;
    text-decoration: underline;
    &:hover, &:focus{
        color: $blue;
        text-decoration: none;
    }
    .icon{
        margin: 0 10px 0 0;
        font-size: 1.2rem;
    }
}
.main-navigation-cross {
    display: block;
    position: absolute;
    top: 37px;
    right: $gutter;
    border: 0;
    color: $white;
    font-family: $roboto;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: none;
    > span {
        margin-right: 5px;
    }
    > .icon {
        width: 22px;
        height: 23px;
    }
}

.lang {
    display: flex;
    align-items: center;
    height: $header-height;
    padding: 0 0 0 $gutter;
    margin: 0;
    font-family: $roboto;
    line-height: 1;
    color: $white;
    .current {
        border-bottom: 1px solid;
    }
    a {
        border-bottom: 0;
        margin: 0 $gutter * 0.5 0 0;
        font-family: inherit;
        color: inherit;
    }
}

.menu-main {
    margin: 0;
    li {
        padding: 0;
        &::before {
            content: none;
        }
    }
    .first-level {
        margin-bottom: $line-height * 1.5;
        > button, > a {
            display: block;
            margin: 0 0 $line-height $gutter;
            border: 0;
            position: relative;
            font-family: $playfairBold;
            font-size: 2.4rem;
            color: $lightBlue;
        }
        > hr {
            width: 100%;
            height: 1px;
            margin: 0;
            background: $lightBlue;
            &::after {
                content: none;
            }
        }
        .sub-menu{
            padding: 0;
            margin: 0;
        }
    }
    .menu-content{
        padding: 20px $gutter 0;
    }
    // .second-level {
        // &.activated {
        //     > span {
        //         &::before {
        //             transform: translateY(-50%) rotateZ(-135deg);
        //         }
        //     }
        // }
    // }
    .accordion-button {
        display: block;
        margin-bottom: 0.5em;
        position: relative;
        font-family: $roboto;
        font-size: 1.8rem;
        text-transform: uppercase;
        color: $lightBlue;
        opacity: 0.8;
        cursor: pointer;
        &::before {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            top: 50%;
            right: 0;
            transform: translateY(-50%) rotateZ(45deg);
            border-bottom: 1px solid $lightBlue;
            border-right: 1px solid $lightBlue;
        }
        &:focus{
            outline: 1px dotted;
        }
    }
    .activated{
        .accordion-button{
            &:before{
                transform: translateY(-50%) rotateZ(225deg);
            }
        }
    }
    .sub-menu-wrapper {
        max-height: 0;
        opacity: 0; 
        overflow: hidden;
        visibility: hidden;
        > .sub-menu {
            margin: 0;
            padding: 10px 0 20px;
        }
    }
    .second-level,
    .third-level {
        margin-bottom: 0.5em;
        > a {
            border: 0;
            font-family: $montserrat;
            color: $white;
            opacity: 0.75;
        }
    }
}


@media (min-width: $phone){
    .header{
        .contrast{
            width: auto;
            left: auto;
        }
    }
}

@media (min-width: $desktop){
    .main-menus{
        padding: 0;
        position: static;
        .text{
            display: block;
        }
        hr{
            display: none;
        }
        .menu-main{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .first-level{
                margin: 0 0 0 24px;
                > a, > button{
                    margin: 0;
                    font-family: $roboto;
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    color: #fff;
                    &.on{
                        color: $blue;
                    }
                    &:hover{
                        opacity: 0.7;
                    }
                    .scrolled &, .on &, .submenu-open &{
                        color: $text;
                        &:hover, &:focus{
                            color: $blue;
                        }
                    }
                }
            }
        }
        .menu-container{
            max-width: 1200px;
            position: relative;
            margin: 0 auto;
            > div{
                display: flex;
                justify-content: space-between;
                > div{
                    width: 23%;
                }
            }
        }
        .menu-content{
            display: none;
            padding-bottom: 45px;
            border-bottom: 1px solid #dadada;
            position: fixed;
            top: 95px;
            left: 0;
            right: 0;
            background: #fff;
            &.on{
                display: block;
            }
            .accordion-button{
                margin: 0;
                color: $text;
                cursor: auto;
                &:before{
                    content: none;
                }
            }
            a{
                &:hover, &:focus{
                    color: $blue;
                }
            }
        }
        .third-level, .second-level{
            > a{
                color: $text;
            }
        }
        .third-level{
            margin: 0;
            a{
                font-size: 1.3rem;
            }
        }
        .sub-menu-wrapper{
            max-height: 100%;
            opacity: 1;
            visibility: visible;
        }
        .menu-img-link{
            display: block;
        }
    }

    .logo{
        margin-right: 60px;
    }

    .main-menus-wrapper{
        display: flex;
        justify-content: space-between;
        background: none;
    }

    .burger{
        display: none;
    }

    .main-navigation{
        width: 100%;
    }

    .nav-cross{
        display: flex;
        position: absolute;
        left: 0;
        bottom: -25px;
        color: $text;
    }
    .main-navigation-cross{
        display: none;
    }

    .lang{
        padding-left: 0;
        font-size: 1.4rem;
        .scrolled &, .on &, .submenu-open &{
            color: $text;
        }
        a:first-child{
            position: relative;
            margin-right: 9px;
            &:after{
                content: '';
                width: 1px;
                position: absolute;
                top: 2px;
                bottom: -1px;
                right: -5px;
                background: currentColor;
            }
        }
    }
}
