/* Header */

.header{
    padding: $gutter 0;
    border-bottom: 1px solid #d8d8d8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: $white;
    > .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.menu-main{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    font-family: $roboto;
    font-size: 1.2rem;
    line-height: 1.2;
    > li{
        padding: 0 35px 0 0;
        &:before{
            content: none;
        }
        &:last-child{
            padding: 0;
        }
    }
    a{
        text-transform: uppercase;
        text-decoration: none;
        color: $greyText;
    }
    ul{
        display: none;
    }
}

.logo{
    max-width: 340px;
    margin: 0 $gutter*2 0 0;
}

.nav{
    flex-shrink: 0;
}

.burger, .menu-close{
    border: 0;
    display: none;
}


@media (max-width: $desktopSmall){
    .menu-main{
        display: block;
        > li{
            margin: 0 0 20px;
        }
        br{
            display: none;
        }
        ul{
            display: block;
            padding: 25px 0 20px 20px;
            margin: 0;
            li{
                &:before{
                    background: $white;
                }
            }
            a{
                font-family: $montserrat;
                font-size: 1.4rem;
                text-transform: none;
            }
        }
        a{
            font-size: 1.6rem;
            color: $white;
        }
    }

    .nav{
        display: none;
        width: 90%;
        padding: $gutter;
        position: absolute;
        top: 0;
        right: 0;
        background: $text;
        &.on{
            display: block;
        }
    }

    .burger, .menu-close{
        display: block;
    }
}
